.form {
  white-space: nowrap;
}

.form__input {
  background-color: red;
}

.form__input {
  background-color: red;
}

.form__input {
  background-color: red;
}

.form__input {
  background-color: red;
}
